# ------------------------------
# Sistema operativo
# ------------------------------
# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ------------------------------
# Archivos de Python
# ------------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------------
# Entornos virtuales
# ------------------------------
# Considera que tu venv puede estar en la carpeta .venv
.venv/
env/
venv/
ENV/

# ------------------------------
# PyCharm
# ------------------------------
# Configuración de proyectos de JetBrains
.idea/
*.iml
*.iws

# Archivos de logs, caches y scratch
*.log
out/

# ------------------------------
# Archivos de sistema temporales
# ------------------------------
*.swp
*.swo
*.bak
*.tmp
*.temp

# ------------------------------
# Otros archivos comunes
# ------------------------------
*.pyc
*.pyo
*.pyd
*.cover
.coverage
htmlcov/
dist/
build/
*.egg-info/
.eggs/
*.egg
pip-log.txt
